{% extends "django_messages/base.html" %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="card-body">
					<h1>Envoyez un message</h1>
					<form action="" method="post">
			  		{% csrf_token %}
			  		<table>
			    		{{ form.as_table }}
			  		</table>
			  		<input type="submit" class="btn btn-primary" value="{% trans 'Send' %} &raquo;"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}
