{% extends 'collection/base.html' %}

{% load static %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="row" id="formul">
    <div class="col-xl-2 col-lg-2"></div>
    <div class="col-xl-8 col-lg-8">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="row mt-4">
          <div class="col-xl-1 col-lg-1"></div>
          <div class="col-xl-9 col-lg-1">
            <div class="align-items-center justify-content-center text-center">
              <h4 class="text-uppercase font-weight-bold mt-4">Formulaire d'ajout de compilation</h4>
            </div>
          </div>
        </div>
        <form class="user" method="post">
          {% csrf_token %}
          <div class="row mt-4">
            <div class="col-xl-1 col-lg-1"></div>
            <div class="col-xl-9 col-lg-4">
              <div class="form-group ml-4">
                <label class="control-label">Choisissez une compilation</label>
                {{ form.compilation_id }}
                <i class="fas fa-sm mr-2 text-gray-500">Facultatif, sera relié à une compilation existante en base de données</i>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-xl-1 col-lg-1"></div>
            <div class="col-xl-4 col-lg-4">
              <div class="form-group ml-4">
                <label class="control-label">Nom de la compilation</label>
                {{ form.compilation_name }}
                <i class="fas fa-sm mr-2" style="color: red">Requis, 200 caractères maximum</i>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4">
              <div class="form-group ml-4">
                <label class="control-label">Plateforme</label>
                {{ form.plateform_id }}
                <i class="fas fa-sm mr-2" style="color: red">Requis ou sera ignoré si une compilation a été sélectionné</i>
              </div>
            </div>
            <div class="col-xl-1 col-lg-1">
              <div class="form-group ml-4">
                <label class="control-label">Physique?</label>
                {{ form.physical }}
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-xl-1 col-lg-1"></div>
            <div class="col-xl-3 col-lg-4">
              <div class="form-group ml-4">
                <label class="control-label">Possédez le vous?</label>
                {{ form.owning_status }}
                <i class="fas fa-sm mr-2" style="color: red">Requis</i>
              </div>
            </div>
            <div class="col-xl-1 col-lg-1"></div>
            <div class="col-xl-4 col-lg-4">
              <div class="form-group ml-4">
                <label class="control-label">Image</label>
                {{ form.picture }}
                <i class="fas fa-sm mr-2 text-gray-500">Facultatif, PNG ou JPEG 153KB max</i>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-xl-1 col-lg-1"></div>
            <div class="col-xl-4 col-lg-4">
              <div class="form-group ml-4">
                <label class="control-label">État de la boite</label>
                {{ form.box_condition }}
                <i class="fas fa-sm mr-2 text-gray-500">Facultatif</i>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4">
              <div class="form-group ml-4">
                <label class="control-label">État des jaquettes</label>
                {{ form.covers_condition }}
                <i class="fas fa-sm mr-2 text-gray-500">Facultatif</i>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-xl-1 col-lg-1"></div>
            <div class="col-xl-4 col-lg-4">
              <div class="form-group ml-4">
                <label class="control-label">État du manuel</label>
                {{ form.manual_condition }}
                <i class="fas fa-sm mr-2 text-gray-500">Facultatif</i>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4">
              <div class="form-group ml-4">
                <label class="control-label">État de la compilation</label>
                {{ form.game_condition }}
                <i class="fas fa-sm mr-2 text-gray-500">Facultatif</i>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-xl-1 col-lg-1"></div>
            <div class="col-xl-9 col-lg-4">
              <div class="form-group ml-4" style="height: 100px">
                <label class="control-label">Détail sur l'état de l'ensemble</label>
                {{ form.condition_precision }}
                <i class="fas fa-sm mr-2 text-gray-500">Facultatif</i>
              </div>
            </div>
          </div>
          <div class="row mt-4 pt-5 mb-4">
            <div class="col-xl-5 col-lg-1"></div>
            <div class="col-xl-2 col-lg-1">
              <div class="align-items-center justify-content-center text-center">
                <button type="submit" class="btn btn-primary">Sauvegarder</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.container-fluid -->
{% endblock %}