{% extends 'collection/base.html' %}

{% load static %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 col-lg-2"></div>
    <div class="col-xl-8 col-lg-8">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="card-body">
          <div class="align-items-center justify-content-center text-center">
            <h4 class="text-uppercase font-weight-bold mt-4">Que voulez vous ajouter?</h4>
          </div>
          <div class="row mt-4">
            <div class="col-xl-1 col-lg-1 mb-2"></div>
            <div class="col-xl-1 col-lg-1 mb-2">
              <div class="align-items-center justify-content-center text-center">
                <a class="btn btn-primary" href="{% url 'add_game' %}">Jeu</a>
              </div>
            </div>
            <div class="col-xl-1 col-lg-1 mb-2"></div>
            <div class="col-xl-1 col-lg-1 mb-2">
              <div class="align-items-center justify-content-center text-center">
                <a class="btn btn-info" href="{% url 'add_comp' %}">Compilation</a>
              </div>
            </div>
            <div class="col-xl-1 col-lg-1 mb-2"></div>
            <div class="col-xl-1 col-lg-1 mb-2">
              <div class="align-items-center justify-content-center text-center">
                <a class="btn btn-secondary" href="{% url 'add_DLC' %}">DLC/Addon</a>
              </div>
            </div>
            <div class="col-xl-1 col-lg-1 mb-2"></div>
            <div class="col-xl-1 col-lg-1 mb-2">
              <div class="align-items-center justify-content-center text-center">
                <a class="btn btn-success" href="{% url 'add_console' %}">Plateforme</a>
              </div>
            </div>
            <div class="col-xl-1 col-lg-1 mb-2"></div>
            <div class="col-xl-1 col-lg-1 mb-2">
              <div class="align-items-center justify-content-center text-center">
                <a class="btn btn-warning" href="{% url 'add_addon' %}">Accesoire</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.container-fluid -->
{% endblock %}