{% extends 'collection/base.html' %}

{% load static %}

{% block content %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Plateforme</th>
            <th>Région</th>
            <th>Complétions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>exemple</td>
            <td>exemple</td>
            <td>exemple</td>
            <td>exemple</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<!-- /.container-fluid -->
{% endblock %}