{% extends 'collection/base.html' %}

{% load static %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="row">

    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-center text-center">
             <div class="col-lg-8 align-self-end">
              <h1 class="text-uppercase font-weight-bold mt-4">Bienvenue sur Video Game Shelves!</h1>
              <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
              <h2 class="text-white-75 mb-5">Un site qui vous permet de gérer votre collection vidéo ludique!</h2>
              <P>Vidéo Game Shelves a été crée par un collectionneur passionné qui ne trouvait pas chaussure à son pied en matière de site de gestion de collection.</P>
              <p>Le principe est simple: une fois votre compte crée et confirmé vous pourrez ajouter des jeux, compilations, extensions/DLC, consoles et accessoires et consulter la liste de ce que vous avez ajouté à tout moment. Vous pourrez également consulter vos jeux, ... individuellement et mettre à jour votre collection à votre guise.</p>
              <p>Le site est en développement constant mais en cas de problème, je vous invite à me contacter par message privé ou par mail.</p>
              <p></p>
              <p><small><i>Elmasta, administrateur du site.</i></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-7">

      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
              <h4 class="text-uppercase font-weight-bold mt-4">Les jeux les plus populaires</h4>
              <hr class="divider my-4">
              {% for item in games_name %}
                <p>{{ item.name }} sur {{ item.plateform }} : {{ item.count }} personne(s) le possède(nt)</p>
              {% endfor %}
              <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.container-fluid -->
{% endblock %}