{% extends 'collection/base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="card-body">
          <div class="align-items-center justify-content-center text-center">
            <h1 class="text-uppercase font-weight-bold mt-4">Vos photos:</h1>
            <form class="user" method="post" enctype="multipart/form-data">
              <label class="control-label">Changez votre avatar:</label>
              {{ addform.collection_picture }}
              <button type="submit" class="btn btn-success">Ajouter une photo</button>
            </form>
          </div>
          <hr class="divider my-4">
          <h6 class="text-uppercase font-weight-bold mt-4">Pseudo: {{ username }}</h6>
          <h6 class="text-uppercase font-weight-bold mt-4">Nom: {{ name }}</h6>
          <h6 class="text-uppercase font-weight-bold mt-4">Email: {{ email }}</h6>
          <h6 class="text-uppercase font-weight-bold mt-4">Date D'inscription: {{ date_joined }}</h6>
          <h6 class="text-uppercase font-weight-bold mt-4">
            <a href="#">Message(s) privé</a>
          </h6>
          <hr class="divider my-4">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.container-fluid -->
{% endblock %}