{% extends 'collection/base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="card-body">
          <div class="align-items-center justify-content-center text-center">
            <h1 class="text-uppercase font-weight-bold mt-4">Vos photos de collection</h1>
            <hr class="divider my-4">
            {% for item in photos %}
            <img class="pb-4 img-fluid" alt="Responsive image" src="{% static item.collection_picture.path %}">
            <form action="{% url 'user_photos' %}" method="post">
              {% csrf_token %}
              <button name="photos" value="{{ item.id }}" class="btn btn-danger">Supprimer</button>
            </form>
            <hr class="divider my-4">
            {% endfor %}
            <form class="user" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <h1 class="text-uppercase font-weight-bold mt-4">Ajoutez une photo</h1>
                <p>1 MB max, PNG et JPEG seulement</p>
                {{ addcollpicform.collection_picture }}
                <div class="form-group pt-4">
                  <label class="control-label">La rendre privée (vous seul pourrez la voir)</label>
                  {{ addcollpicform.private }}
                </div>
                <div class="form-group pt-2">
                  <button type="submit" class="btn btn-success">Ajouter la photo</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.container-fluid -->
{% endblock %}